* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
  background-color: #edf2f9;
}
.navbar {
  height: 8vh;
}

#sidebar {
  height: 92vh;
  width: 15%;
  background-color: #fff;
  color: #fff;
  transition: all 0.3s;
  position: relative;
}

.sidebar-arrow {
  position: absolute;
  right: -2rem;
  top: 45%;
  z-index: 100;
}

#sidebar.active {
  width: 0;
}
#sidebar-content.active {
  display: none;
}

.sidebar-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header h3 {
  margin: 0;
}

.bi {
  font-size: 1.5rem;
}